/* Your CSS Code here. */
.container{
	display:flex;
	justify-content:space-around
}





.item3{
  background-color:green;
	font-size:50px;
	box-sizing:border-box;
	width:50px;
}
.item1{
	background-color:red;
	font-size:50px;
	width:50px;
}
.item2{
	background-color:blue;
	font-size:50px;
	width:50px;
}


















